html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    box-sizing: border-box; 
}

*,
*::before,
*::after {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #595959;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px auto auto;
    background-color: #f0f0f0;
    justify-content: start;
    align-items: stretch;
    border-radius: 5px;
    overflow: hidden;
}

img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.card-info {
    padding: 0 1rem;
    line-height: 1.5;
    text-align: center;
    list-style-type: none;
}

.card-info li:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-info li:nth-of-type(2) {
    font-weight: bold;
}

.card-footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #595959;
    color: white;
}

.card-footer a {
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    text-align: center;
    flex: 1;
    transition: all 0.2s ease-in-out;
}

.card-footer a:hover {
    background-color: #3f3f3f;
}
